body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    color: white;
    background: rgb(42,75,170);
    background: linear-gradient(150deg, rgba(42,75,170,1) 0%, rgba(20,20,34,1) 25%);
    }

  .header {
    font-size: 64px;
    margin-left:15px;
    padding: 15px;
  }

  .subtitle {
    margin-left: 30px;
    font-size: 24px;
  }

.movie-container {
    display: grid;
    width: fit-content;
    height: fit-content;
    margin-top: 3vh;
    margin-left: 15px;
    padding: 15px;
    grid-template-columns: repeat(4, 15%);
    grid-auto-rows: minmax(20%, auto);
    row-gap: 5vh;
    column-gap: 50px;
}

.movie-card {
    display: flex;
    padding: 15px;
    gap: 20px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.title {
    text-align: center;
}

.poster {
    border-radius: 15px;
    width: min(190px, 10vw);
}

