body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    color: white;
    background: rgb(42,75,170);
    background: linear-gradient(150deg, rgba(42,75,170,1) 0%, rgba(20,20,34,1) 25%);
    height: 100%;
    }

  .header {
    font-size: 64px;
    margin-left:30px;
    padding: 15px;
  }

  .subtitle {
    font-size: 24px;
    margin-left: 45px;
  }

.movie-container {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-auto-rows: minmax(20%, auto);
    row-gap: 5vh;
    column-gap: 50px;
    width: fit-content;
    height: fit-content;
    margin-top: 3vh;
    margin-left: 15px;
    padding: 15px;

}


.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
    height: fit-content;
    min-width: 100px;
    }

.title {
  font-size: 18px;
  text-align: center;
}

.poster {
    width: 100%;
    border-radius: 15px;
    transition: box-shadow 0.2s ease;
    transition: transform 0.1s ease;

}

.poster:hover {
  box-shadow: 0 0 0 2px white;
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 480px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header { 
    font-size: 36px;
    text-align: center;
    margin-left:0px;

  }

  .subtitle {
    font-size: 18px;
    text-align: center;
    margin-left: 0px;
  }

  .movie-container {
    grid-template-columns: 150px 150px;
    grid-auto-rows: 250px;
    margin-left: 0px;
    padding: 0px;
  }

  .poster {
    width: 100%;
  }

  .title {
    font-size: 14px;
  }

  
}