body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    background: rgb(42,75,170);
    background: linear-gradient(150deg, rgb(19, 34, 79) 0%, rgba(20,20,34,1) 25%);
    height: 200vh;
    color: white;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.trailer {
    width: 90vw;
    height: 80vh;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.142);

}

.info-container {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.142);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.478);
    width: 90vw;
    margin-top: 15px;
    padding: 30px;
}

.info-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.email {
    background-color: black;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.142);
    border-radius: 15px;
    padding: 15px;
    width: 30vw;
    
}
.get-notified-button {
    text-align: center;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(to right, #010f3d 0%, #3c1a84  51%, #171f45  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    color: white;
    border-radius: 15px;
    height: 50px;
    width: 150px;
}

.get-notified-button:hover {
    border: 2px solid rgba(255, 255, 255, 0.142);
    background-position: right center;
}

.tickets-link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: linear-gradient(to right, #010f3d 0%, #3c1a84  51%, #171f45  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    color: white;
    border-radius: 15px;
    height: 50px;
    width: 150px;   
}
 

.tickets-link:hover {
    border: 2px solid rgba(255, 255, 255, 0.142);
    background-position: right center;
}

.header {
    font-size: 64px;
}

.premier {
    font-size: 22px;
}

.poster {
    margin-top: 30px;
    border-radius: 15px;
    width: min(400px, 15vw);
}

@media (max-width: 480px) {

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .trailer {
        height: 25vh;
    }

    .info-container-top {
        flex-direction: column;
        gap: 30px;
    }
  
    .header { 
      font-size: 36px;
      text-align: center;
      margin-left:0px;
  
    }

    .email {
        max-height: 30px;
    }

    .tickets-link {
        max-height: 50px;
    }

    .get-notified-button {
        max-height: 50px;
    }
  
    .premier {
      font-size: 16px;
      text-align: center;
      margin-left: 0px;
      margin-top: 15px; 
    }
  
    .poster {
      width: 100%;
    }  
    
  }