body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    background: rgb(42,75,170);
    background: linear-gradient(150deg, rgba(42,75,170,1) 0%, rgba(20,20,34,1) 25%);
    height: 150vh;
    color: white;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    font-size: 64px;
}

.trailer {
    width: 90vw;
    height: 85vh;
    border-radius: 15px;
}

.premier {
    font-size: 22px;
}

.poster {
    width: 100px;
}
