body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    background: rgb(42,75,170);
    background: linear-gradient(150deg, rgb(19, 34, 79) 0%, rgba(20,20,34,1) 25%);
    height: 200vh;
    color: white;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.trailer {
    width: 90vw;
    height: 85vh;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.142);

}

.info-container {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.142);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.478);
    width: 90vw;
    margin-top: 15px;
    padding: 15px;
}

.header {
    font-size: 64px;
}

.premier {
    font-size: 22px;
}

.poster {
    margin-top: 30px;
    border-radius: 15px;
    width: min(400px, 15vw);
}
