<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <title>🚨 Ticket Alerts</title>
</head>
<body>
    <div class="header">Upcoming movies</div>
    <div class="subtitle">Select a movie to be notified the minute tickets are available.</div>
    <div class="movie-container">
        {% for movie in movies %}
            <a href="/movie/{{movie['id']}}">
                <div class="movie-card">
                    <img src="{{ movie['poster'] }}" class="poster" alt="{{ movie['title'] }} Poster">
                    <div class="title">{{ movie['title'].title() }}</div>
                </div>
            </a>

        {% endfor %}
    </div>
</body>
</html>
