<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">

    <title>{{movie_data['title'].title()}}</title>
</head>
<body>
    <div class="container">
        <iframe class='trailer' src="{{movie_data['trailer']}}" frameborder="0" modestbranding></iframe>
        <div class="info-container">
            <div class="info-container-top">
                <div class="header"> {{ movie_data['title'].title()}}</div>
                {% if movie_data['ticketsAvailable'] == 0 %}
                    <form action="/alert_created" method="post">
                        <input class="email" type="email" name="email" id="email" required placeholder="email">
                        <input type="hidden" name="movie_data" value=" {{ movie_data }}">
                        <input class="get-notified-button" type="submit" value="Get notified!">
                    </form>

                {% else %}
                    
                    <a  class="tickets-link" href="https://www.villagecinemas.gr/WebTicketing/"> Purchase tickets! </a>
            
                {% endif %}
            </div>
            <div class="premier"> Πρεμιέρα: {{ movie_data['premier'] }} </div>
            <img class='poster' src="{{ movie_data['poster'] }}" alt="">
        </div>

    </div>

</body>
</html>